.main_grid {
    display: flex;
    flex-direction: column;
    border-style: solid; 
    height: 1000px;
    width: 1000px;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.grid_space {
    border-style: solid;
    flex: 1 1 auto
}
.grid_space:hover {
    background-color: brown;
}
